# Dependencies
**/node_modules
**/dist
**/build

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
backend/uploads/*
!backend/uploads/.gitkeep

# Node diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Caches
.eslintcache
.stylelintcache
.npm
.cache
.parcel-cache

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
